/* compact [
	prive/spip_style.css
	prive/minipres.css
	squelettes-dist/spip_formulaires.css
	extensions/porte_plume/css/barre_outils.css
	page=barre_outils_icones.css
	page=cfg.css
	plugins/auto/googleplus1/googleplus1.css
	plugins/auto/socialtags/socialtags.css
] 77.7% */

/* prive/spip_style.css */
h3.spip{text-align:center;margin-top:2em;margin-bottom:1.4em;font-size:1.15em;font-weight:bold;}
hr.spip{margin:2em auto;}
ol.spip{list-style:decimal;}
blockquote.spip{margin:2em 0;margin-left:1em;padding-left:1em;border-left:1px dotted #aaa;}
blockquote.spip_poesie{margin:2em 0;margin-left:1em;padding-left:1em;border-left:1px solid #aaa;}
blockquote.spip_poesie div{text-indent:-3em;margin-left:3em;}
.spip_code,.spip_cadre{font-family:Courier,"Courier New",monospace;color:#036;}
.spip_cadre{width:99%;background-color:#F4F8F8;border:1px inset;font-size:inherit;}
div.spip_code,.spip_cadre{margin-bottom:1em;}
.spip_surligne{background:#FF6;}
table.spip{max-width:99%;margin-right:auto;margin-left:auto;margin-bottom:1em;border-collapse:collapse;border-spacing:0;line-height:normal;}
table.spip caption{caption-side:top;text-align:center;margin-right:auto;margin-left:auto;font-weight:bold;}
table.spip tr.row_first{background:#FFC;}
table.spip tr.row_odd{background:#EEE;}
table.spip tr.row_even{background:#DDD;}
table.spip th,table.spip td{padding:0.20em 0.40em;text-align:left;border:1px solid;}
table.spip th{vertical-align:bottom;font-weight:bold;}
table.spip td{vertical-align:top;}
table.spip td.numeric{text-align:right;}
img,.spip_logos{margin:0;padding:0;border:0;}
.spip_documents{text-align:center;line-height:normal;}
.spip_documents p{margin:0.10em;padding:0;}
.spip_documents_center{display:block;clear:both;width:100%;margin:1em auto;}
.spip_documents_left{float:left;margin-right:15px;margin-bottom:5px;}
.spip_documents_right{float:right;margin-left:15px;margin-bottom:5px;}
.spip_doc_titre{margin-right:auto;margin-left:auto;font-weight:bold;font-size:0.90em;}
.spip_doc_descriptif{clear:both;margin-right:auto;margin-left:auto;font-size:0.90em;}
.spip_modele{float:right;display:block;padding:1em;border:1px solid;width:180px;}


a.spip_mail{color:#900;}
a.spip_mail:before{content:"\002709";}
a.spip_out{color:#009;}
a.spip_url{color:#009;}
a.spip_glossaire{color:#060;}
a.spip_glossaire:hover{text-decoration:underline overline;}
.on{font-weight:bold;}

/* prive/minipres.css */
html{font-size:100%;}
body{font:.9em sans-serif;color:#2e3436;}
input,textarea,select{font-size:100%;font-family:inherit;}
h1{margin:1em auto;font-size:1.2em;font-weight:bold;color:#5c3566;text-align:center;}
h2{margin:0.80em 0 0.80em 0;font-size:1.1em;font-weight:normal;}
img,.spip_logos{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
body{background:#babdb6 url("/prive/images/minipres-gris.png") no-repeat scroll 97% 100px;}
.nettoyeur{clear:both;margin:0;padding:0;border:0;height:0;line-height:0;font-size:0;}
.bugajaxie{display:none;}
fieldset,.fieldset{text-align:left;padding:0;border:0;margin-top:1em;font-size:.95em;}
legend{font-weight:bold;font-size:1em;color:#333;}
.reponse_formulaire,.erreur_message{font-weight:bold;color:red;}
body.minipres fieldset,body.minipres .fieldset{border:1px solid #ccc;padding:1em;}
#minipres{width:38em;background:#fff repeat;margin:1em auto;padding:1em;border:1px solid #888;}
.pass #minipres{width:90%;}
.petit-centre{font-size:.8em;text-align:center;}
.petit-centre p{width:300px;margin:auto;}
.suivant{display:block;margin-top:1em;text-align:right;}
.toile_foncee{background:#777;}
#minipres label{color:#333;}
.formo,input.text,input.password{width:50%;display:block;background-color:#f8f8f9;background-position:center bottom;margin-bottom:1em;padding:3px;border:1px inset #333;behavior:url("/prive/win_width.htc");}
.formo,input.text,input.password,select{font-size:1.1em;}
p.resultat{background-color:#fcaf3e;padding:0.40em 0.10em;text-align:center;color:#fff;font-weight:bold;}
p.resultat.ok{background-color:#73d216;}
p.resultat.echec{background-color:#d60c0c;}
#etapes{display:block;position:absolute;top:10px;left:10px;}
#etapes span{display:block;margin-top:-0.50em;padding:12px 14px;margin-bottom:5px;}
#etapes span em{font-size:2em;font-weight:bold;}
#etapes span span{position:absolute;top:-100px;left:-100px;}
#etapes span.ok{background:url("/prive/images/etape-ok.gif") center no-repeat;}
#etapes span.encours{background:url("/prive/images/etape-encours.gif") center no-repeat;}
#etapes span.todo{background:url("/prive/images/etape-todo.gif") center no-repeat;}
#infos_etapes{height:63px;overflow:hidden;margin:0;padding:0;padding-left:10px;background:#8c8c8c url("/prive/images/degrade-etapes-clair-left.gif") no-repeat right top;text-align:left;font-family:helvetica,arial,sans;list-style:none;}
#infos_etapes.infos_etape_4{background-image:url("/prive/images/degrade-etapes-vert-left.gif");background-color:green;}
#infos_etapes li{float:left;margin-left:-28px;padding-left:29px;background:url("/prive/images/degrade-etapes-fonce-left.gif") no-repeat left top;color:#555;text-align:left;font-size:0.85em;line-height:1.05em;}
#infos_etapes li .fond{width:8em;height:69px;padding-right:2em;padding-top:10px;background:url("/prive/images/degrade-etapes-fonce-left.gif") no-repeat -30px top;}
#infos_etapes li em{float:left;position:absolute;top:-1000px;}
#infos_etapes li span.numero_etape{float:left;display:block;height:50px;margin-left:-10px;padding:7px 3px 0 3px;font-weight:bold;font-size:3em;}
#infos_etapes li.on{background-image:url("/prive/images/degrade-etapes-vert-left.gif");color:#fff;font-weight:bold;}
#infos_etapes li.on .fond{background-color:#88f560;background-image:url("/prive/images/degrade-etapes-vert-left.gif");}
#infos_etapes li.erreur{background-image:url("/prive/images/degrade-etapes-rouge-left.gif");}
#infos_etapes li.erreur .fond{background-color:#ff6868;background-image:url("/prive/images/degrade-etapes-rouge-left.gif");}
#infos_etapes li.prochains{background-image:url("/prive/images/degrade-etapes-clair-left.gif");}
#infos_etapes li.prochains .fond{background-color:#dbdbdb;background-image:url("/prive/images/degrade-etapes-clair-left.gif");}
.install-plugins{background:#ddd;border:1px solid black;color:#555;font-size:0.85em;padding:10px;}
.install-plugins .ok{color:green;font-weight:bold;}
.install-plugins .erreur{color:red;font-weight:bold;}
.page_login{text-align:center;}
.page_login #minipres{width:28em;}
.page_login .formulaire_menu_lang{float:right;font-size:.9em;}
.page_login .formulaire_menu_lang label{display:none;}
.page_login .formulaire_menu_lang select{display:inline;}
.page_login .formulaire_menu_lang input.submit{display:inline;}
.page_login .formulaire_login{clear:both;text-align:left;font-size:.9em;}
.page_login .formulaire_login fieldset{margin:0;padding:0;border:1px solid #babdb6;padding:1em;font-size:1em;}
.page_login .formulaire_login fieldset .spip_logos{float:right;padding-left:5px;}
.page_login .formulaire_login fieldset ul{float:left;width:70%;margin:0;padding:0;list-style:none;}
.page_login .formulaire_login fieldset ul li{margin:0;padding:0.50em 0;}
.page_login .formulaire_login fieldset ul li label,.page_login .formulaire_login fieldset ul li .erreur_message,.page_login .formulaire_login fieldset ul li .details{display:block;width:auto;}
.page_login .formulaire_login fieldset ul li label.nofx{display:inline;}
.page_login .formulaire_login fieldset ul li input.text,.page_login .formulaire_login fieldset ul li input.password{width:11em;margin:0;display:inline;}
.page_login .boutons{text-align:right;}
.page_login .retour{clear:both;text-align:center;font-size:.9em;}
body.pass .formulaire_spip{background:none;border:none;margin:0;padding:0;}
a{color:#e86519;text-decoration:none;}
a:visited{color:#75507b;}
a:active{color:#8ae234;}
a:hover{text-decoration:underline;}

/* squelettes-dist/spip_formulaires.css */
input,select,textarea{font-size:100%;font-family:inherit;}
.formulaire_spip{clear:both;margin-bottom:2em;padding:0;border:0;text-align:left;font-size:1em;}
.formulaire_spip form{margin:0;padding:0;}
.formulaire_spip fieldset{clear:both;margin:0 0 1em 0;padding:0;border:0;}
.formulaire_spip fieldset legend{margin:0;padding:0;font-size:1.05em;font-weight:bold;background-color:#fff;color:#333;}
.formulaire_spip fieldset fieldset{margin-top:1em;}
.formulaire_spip fieldset fieldset legend{font-size:1em;font-weight:normal;}
.formulaire_spip .explication{margin:0.50em 0;color:#444;}
.formulaire_spip ul{margin:0;padding:0;list-style:none;}
.formulaire_spip ul li{clear:both;margin:0;padding:0.50em 0;}
.formulaire_spip label{display:block;text-align:left;color:#444;font-weight:bold;position:relative;}
.formulaire_spip li p{margin-top:0;margin-bottom:0;}
.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,.formulaire_spip .choix input.checkbox{width:auto;}
.formulaire_spip input.text{width:15em;border:1px inset;}
.formulaire_spip textarea{width:99%;border:1px inset;}
.formulaire_spip select{width:99%;}
.formulaire_spip .boutons{clear:both;margin:0;padding:0;text-align:right;}
.formulaire_spip .boutons input{margin-left:1em;}


.formulaire_spip fieldset.previsu{margin-bottom:2em;padding:1em;border:2px dashed #F57900;}
.formulaire_spip fieldset.previsu legend{padding:0 0.50em;font-weight:bold;color:#F57900;}
.formulaire_spip fieldset.previsu li{padding:3px;border:none;}
.formulaire_spip fieldset.previsu p{margin:1em 0;}
.reponse_formulaire{font-weight:bold;color:#e86519;font-size:1.20em;}
fieldset.reponse_formulaire{border-color:#e86519;font-weight:normal;}
fieldset.reponse_formulaire.reponse_formulaire legend{color:#F57900;}
.formulaire_spip li.erreur .erreur_message{display:block;color:#C30;font-weight:bold;}
.formulaire_spip li.erreur input.text,.formulaire_spip li.erreur textarea{background-color:#FCC;border-style:solid;border-color:#C30;}
.reponse_formulaire_erreur{margin:0;color:#C30;font-weight:bold;}
.reponse_formulaire_ok{margin:0;color:#53AD20;font-weight:bold;}
table.spip_barre{width:100%;}
table.spip_barre a img{background:#FDA;padding:3px;border:1px outset #CC9;}
table.spip_barre a:focus img,table.spip_barre a:hover img,table.spip_barre a:active img{background:#FFF;border:1px solid #CC9;}
table.spip_barre input.barre{width:99%;background:transparent;border:0;color:inherit;}
.formulaire_forum .saisie_titre input.text,.formulaire_forum .saisie_titre textarea{width:98%;}
.formulaire_menu_lang{margin:0;padding:0;background:none;}
.formulaire_recherche{margin:0;padding:0;background:none;}
.formulaire_recherche *{display:inline;vertical-align:middle;}
.formulaire_recherche input.text{width:10em;padding-left:25px;background:#FFF url("/squelettes-dist/rechercher.gif") no-repeat left center;}

ul.choix_mots{display:block;margin:0;padding:0;list-style:none;}
ul.choix_mots li{clear:none;float:left;display:block;width:30%;padding:1%;}
ul.choix_mots li label{display:inline;font-weight:normal;}
.formulaire_spip .bugajaxie{display:none;}
.formulaire_login ul li{clear:left;}
.formulaire_login .editer_password .details{display:block;}
.formulaire_login #spip_logo_auteur{float:right;}

/* extensions/porte_plume/css/barre_outils.css */
.markItUp .markItUpHeader a,.markItUp .markItUpTabs a,.markItUp .markItUpFooter a{color:#000;text-decoration:none;}
.markItUp{margin:5px 0 5px 0;clear:both;}
.markItUp .markItUpContainer{margin:0px;padding:0px;}
.markItUp .markItUpEditor{clear:both;display:block;overflow:auto;}
#text_area{height:300px;}
.markItUp .markItUpFooter{margin:0px;padding:0px;width:100%;}
.markItUp .markItUpResizeHandle{overflow:hidden;width:22px;height:5px;margin-left:auto;margin-right:auto;background-image:url("/extensions/porte_plume/css/images/handle.png");cursor:ns-resize;}
.markItUp .markItUpTabs{text-align:right;padding:1px 1px 0;margin-bottom:-1px;margin-top:3px;overflow:hidden;width:auto;float:right;margin-right:30px;clear:both;}
.markItUp .markItUpTabs a{display:block;float:right;border:1px solid #ccc;margin:0px 1px;padding:3px 4px 2px 4px;background:#f0f0f0;}
.markItUp .markItUpTabs a.on{background:#fff;border-bottom:1px solid #fff;}
.markItUp .markItUpTabs a:hover{background:#fff;}
.markItUp .markItUpPreview{clear:both;border:1px solid #ccc;background:#fff;overflow:auto;padding:1em;}
.markItUp .preview p{margin-bottom:1em;}
.markItUp .preview ul{margin-bottom:1em;margin-top:0.5em;}
.markItUp .preview li{border:none;padding:1px;}
.markItUp .preview .cadre ol,.markItUp .preview .cadre ul{padding:0.5em;}
.markItUp .markItUpHeader{margin:0px;padding:0px;}
.markItUp .markItUpHeader ul{margin:0 !important;padding:0;}
.markItUp .markItUpHeader ul li{list-style:none;float:left;position:relative;clear:none;border:0;margin:0;padding:0;overflow:visible;}
.markItUp .markItUpHeader ul li:first-child{padding-top:0;}
.markItUp .markItUpHeader ul .markItUpDropMenu li{margin-right:0px;background-color:#eee;padding:1px 0px 1px 1px;}
.markItUp .markItUpHeader ul ul{display:none;position:absolute;top:24px;left:-1px;width:150px;z-index:2;padding-top:2px;}
.markItUp .markItUpHeader ul ul li{float:left;}
.markItUp .markItUpHeader ul ul .markItUpDropMenu{background:#F5F5F5 url("/extensions/porte_plume/css/images/submenu.png") no-repeat 50% 50%;}
.markItUp .markItUpHeader ul .markItUpSeparator{margin:0 6px;width:0px;height:16px;overflow:hidden;}
.markItUp .markItUpHeader ul ul .markItUpSeparator{width:auto;height:1px;margin:0px;}
.markItUp .markItUpHeader ul a{display:block;background-color:#f5f5f5;border:1px solid #ccc;padding:3px;margin-right:1px;}
.markItUp .markItUpHeader ul a b{display:block;background-repeat:no-repeat;width:16px;height:16px;text-indent:-10000px;}
.markItUp .markItUpHeader ul a:hover{border:1px solid #888;background-color:#fff;}

/* page=barre_outils_icones.css */
.markItUp .outil_header1 a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -226px}
.markItUp .outil_bold a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -478px}
.markItUp .outil_italic a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -586px}
.markItUp .outil_stroke_through a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -946px}
.markItUp .outil_liste_ul a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -622px}
.markItUp .outil_liste_ol a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -658px}
.markItUp .outil_indenter a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -514px}
.markItUp .outil_desindenter a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -550px}
.markItUp .outil_quote a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -442px}
.markItUp .outil_link a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -298px}
.markItUp .outil_notes a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -334px}
.markItUp .outil_guillemets a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -910px}
.markItUp .outil_guillemets_simples a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -802px}
.markItUp .outil_guillemets_de a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -766px}
.markItUp .outil_guillemets_de_simples a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -838px}
.markItUp .outil_guillemets_uniques a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -874px}
.markItUp .outil_caracteres a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -262px}
.markItUp .outil_a_maj_grave a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -82px}
.markItUp .outil_e_maj_aigu a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -154px}
.markItUp .outil_e_maj_grave a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -190px}
.markItUp .outil_aelig a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -46px}
.markItUp .outil_aelig_maj a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -10px}
.markItUp .outil_oe a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -406px}
.markItUp .outil_oe_maj a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -370px}
.markItUp .outil_ccedil_maj a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -118px}
.markItUp .outil_uppercase a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -730px}
.markItUp .outil_lowercase a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -694px}
.markItUp .outil_clean a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -982px}
.markItUp .outil_preview a b{background-image:url(/extensions/porte_plume/icones_barre/spt-v1.png);background-position:-10px -1018px}
.ajaxLoad{background:white url('/prive/images/searching.gif') top left no-repeat;}

/* page=cfg.css */
.cfg_arbo h5{padding:0.2em 0.2em;margin:0.2em 0;cursor:pointer;}
.cfg_arbo ul{border:1px solid #ccc;margin:0;padding:0.2em 0.5em;list-style-type:none;}
.crayon-icones em.crayon-config{background:url() no-repeat;height:20px;width:20px;cursor:pointer;display:none;}
.crayon-changed em.crayon-config{display:none;}

/* plugins/auto/googleplus1/googleplus1.css */
div.googleplus1{margin:2px 0 0px 0;padding:0;clear:both;}
.googleplus1 ul{display:inline;margin:0 !important;padding:0 !important;}
.googleplus1 ul li{background:none;display:inline;list-style-type:none;margin:1px;padding:1px;}

/* plugins/auto/socialtags/socialtags.css */
div.socialtags{margin:2px 0 0px 0;padding:0;clear:both;}
.socialtags ul{display:inline;margin:0 !important;padding:0 !important;}
.socialtags ul li{background:none;display:inline;list-style-type:none;margin:1px;padding:1px;}
.socialtags img{float:none;width:16px;height:16px;border:0;margin:0;padding:0;}
.socialtags-hovers{opacity:.4;filter:alpha(opacity=40);}
.socialtags-hovers:hover{opacity:1;filter:alpha(opacity=100);}

