/* compact [
	squelettes-dist/spip_formulaires.css
	squelettes-dist/habillage.css
] 64.9% */

/* squelettes-dist/spip_formulaires.css */
input,select,textarea{font-size:100%;font-family:inherit;}
.formulaire_spip{clear:both;margin-bottom:2em;padding:0;border:0;text-align:left;font-size:1em;}
.formulaire_spip form{margin:0;padding:0;}
.formulaire_spip fieldset{clear:both;margin:0 0 1em 0;padding:0;border:0;}
.formulaire_spip fieldset legend{margin:0;padding:0;font-size:1.05em;font-weight:bold;background-color:#fff;color:#333;}
.formulaire_spip fieldset fieldset{margin-top:1em;}
.formulaire_spip fieldset fieldset legend{font-size:1em;font-weight:normal;}
.formulaire_spip .explication{margin:0.50em 0;color:#444;}
.formulaire_spip ul{margin:0;padding:0;list-style:none;}
.formulaire_spip ul li{clear:both;margin:0;padding:0.50em 0;}
.formulaire_spip label{display:block;text-align:left;color:#444;font-weight:bold;position:relative;}
.formulaire_spip li p{margin-top:0;margin-bottom:0;}
.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,.formulaire_spip .choix input.checkbox{width:auto;}
.formulaire_spip input.text{width:15em;border:1px inset;}
.formulaire_spip textarea{width:99%;border:1px inset;}
.formulaire_spip select{width:99%;}
.formulaire_spip .boutons{clear:both;margin:0;padding:0;text-align:right;}
.formulaire_spip .boutons input{margin-left:1em;}


.formulaire_spip fieldset.previsu{margin-bottom:2em;padding:1em;border:2px dashed #F57900;}
.formulaire_spip fieldset.previsu legend{padding:0 0.50em;font-weight:bold;color:#F57900;}
.formulaire_spip fieldset.previsu li{padding:3px;border:none;}
.formulaire_spip fieldset.previsu p{margin:1em 0;}
.reponse_formulaire{font-weight:bold;color:#e86519;font-size:1.20em;}
fieldset.reponse_formulaire{border-color:#e86519;font-weight:normal;}
fieldset.reponse_formulaire.reponse_formulaire legend{color:#F57900;}
.formulaire_spip li.erreur .erreur_message{display:block;color:#C30;font-weight:bold;}
.formulaire_spip li.erreur input.text,.formulaire_spip li.erreur textarea{background-color:#FCC;border-style:solid;border-color:#C30;}
.reponse_formulaire_erreur{margin:0;color:#C30;font-weight:bold;}
.reponse_formulaire_ok{margin:0;color:#53AD20;font-weight:bold;}
table.spip_barre{width:100%;}
table.spip_barre a img{background:#FDA;padding:3px;border:1px outset #CC9;}
table.spip_barre a:focus img,table.spip_barre a:hover img,table.spip_barre a:active img{background:#FFF;border:1px solid #CC9;}
table.spip_barre input.barre{width:99%;background:transparent;border:0;color:inherit;}
.formulaire_forum .saisie_titre input.text,.formulaire_forum .saisie_titre textarea{width:98%;}
.formulaire_menu_lang{margin:0;padding:0;background:none;}
.formulaire_recherche{margin:0;padding:0;background:none;}
.formulaire_recherche *{display:inline;vertical-align:middle;}
.formulaire_recherche input.text{width:10em;padding-left:25px;background:#FFF url("/squelettes-dist/rechercher.gif") no-repeat left center;}

ul.choix_mots{display:block;margin:0;padding:0;list-style:none;}
ul.choix_mots li{clear:none;float:left;display:block;width:30%;padding:1%;}
ul.choix_mots li label{display:inline;font-weight:normal;}
.formulaire_spip .bugajaxie{display:none;}
.formulaire_login ul li{clear:left;}
.formulaire_login .editer_password .details{display:block;}
.formulaire_login #spip_logo_auteur{float:right;}

/* squelettes-dist/habillage.css */
html{font-size:100%;}
body{font-size:0.8125em;font-family:"Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;color:#333;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;font-size:1em;font-family:Georgia,Times,serif;}
h1{font-size:1.70em;color:#000;}
h2{font-size:1.40em;font-weight:normal;}
h2,h2 a,h2 a:focus,h2 a:hover,h2 a:active{color:#003;}
h3{font-size:1.20em;font-weight:bold;}

strong{font-weight:bold;}
em{font-style:italic;}
abbr,acronym{border-bottom:1px dotted;cursor:help;}
small{font-size:0.90em;color:#666;}
dfn{font-weight:bold;color:#666;}
del{text-decoration:line-through;}
ins{color:red !important;text-decoration:none;}
sup,sub{font-size:.8em;font-variant:normal;}













img{margin:0;padding:0;border:0;}






body{background:#FFF;margin:0;padding:0;text-align:center;}
#page{position:relative;width:58em;margin:0 auto;text-align:left;}
#entete{width:58em;margin:0;padding-top:1.60em;border-bottom:2px solid #8B6F92;}
#entete a.accueil{display:block;width:67%;}
#entete a.accueil img.spip_logos{vertical-align:bottom;line-height:1em;}
#entete a.accueil #nom_site_spip{vertical-align:bottom;font-size:2.2em;font-family:Georgia,Times,serif;font-weight:normal;}
#entete .formulaire_menu_lang{position:absolute;right:0;top:0.90em;display:block;width:30%;}
#conteneur{clear:both;float:left;width:67%;overflow:hidden;}
#contenu{padding-top:0.30em;}
#navigation{float:right;width:30%;margin-top:1em;overflow:hidden;}
#extra{float:right;clear:right;width:30%;margin-top:1em;overflow:hidden;}
#pied{clear:both;width:100%;margin:0;padding:0.40em 0;border-top:1px solid #8B6F92;text-align:center;font-size:0.90em;}
#pied img{vertical-align:middle;}
.nettoyeur{clear:both;height:0;margin:0;padding:0;border:0;line-height:1px;font-size:1px;}
.invisible{position:absolute;top:-3000em;height:1%;}
#hierarchie{clear:both;margin-bottom:2em;font-size:0.90em;}
#hierarchie,#hierarchie a{color:#666;}
.cartouche{margin-bottom:2em;}
.cartouche .spip_logos{float:right;margin-left:16px;margin-bottom:4px;}
.cartouche p{margin:0;padding:0;clear:left;}
.surtitre,.soustitre{font-size:0.90em;color:#666;text-transform:uppercase;letter-spacing:0.10em;}
.cartouche .surtitre{margin-bottom:0.30em;}
.cartouche .soustitre{margin-top:0.50em;margin-bottom:0.30em;}
.cartouche .traductions{font-size:0.90em;}
.chapo{margin-bottom:1.50em;line-height:1.40em;font-weight:bold;color:#669;}
.texte{line-height:1.60em;}
.hyperlien{display:block;background:#EEE;padding:0.50em 1em;font-weight:bold;color:#8B6F92;}
.ps,.notes{margin-bottom:2em;line-height:1.40em;}
.notes{clear:both;font-size:0.90em;}
abbr.published{border:0;}
#documents_portfolio{clear:both;margin:2em auto;text-align:center;}
#documents_portfolio .spip_logos{margin:6px 3px 0 3px;border:4px solid #DDD;}
#documents_portfolio a.on .spip_logos{border-color:#F57900;}
#documents_portfolio a:focus .spip_logos,#documents_portfolio a:hover .spip_logos,#documents_portfolio a:active .spip_logos{border-color:#8B6F92;}
.repondre{clear:both;margin-top:2.50em;margin-right:1em;text-align:right;font-weight:bold;}
ul.forum{display:block;clear:both;margin:0;padding:0;}
ul.forum,ul.forum ul{list-style:none;}
.forum-fil{margin-top:1.50em;}
.forum-fil ul{display:block;margin:0;padding:0;margin-left:1em;}
.forum-chapo .forum-titre,.forum-chapo .forum-titre a{display:block;margin:0;padding:0;font-weight:bold;color:#333;}
.forum-texte{margin:0;padding:0.50em 1em;color:#333;}
.forum-texte .repondre{margin:0;padding:0.10em 0;text-align:right;}
ul .forum-message{border:1px solid #666;margin:0;padding:0;margin-bottom:1em;}
ul ul .forum-message{border:1px solid #A4A4A4;}
ul ul ul .forum-message{border:1px solid #B8B8B8;}
ul ul ul ul .forum-message{border:1px solid #CCC;}
ul ul ul ul ul .forum-message{border:1px solid #E0E0E0;}
ul ul ul ul ul ul .forum-message{border:1px dotted #E0E0E0;}
ul .forum-chapo{border:0;border-bottom:1px dotted #B8B8B8;margin:0;padding:3px 6px 2px 6px;background:#C4E0E0;}
ul ul .forum-chapo{background:#D4E8E8;}
ul ul ul .forum-chapo{background:#E4F0F0;}
ul ul ul ul .forum-chapo{background:#F4F8F8;border-bottom:1px dotted #E0E0E0;}
ul ul ul ul ul .forum-chapo{background:#FFF;}
#signatures{clear:both;margin:0 0 2em 0;padding:0;background:none;}
#signatures table{width:100%;margin:1em 0 0 0;}
#signatures thead{text-align:center;color:#555;}
#signatures td{padding:0.50em;border:2px solid #FEFEFE;vertical-align:top;}
#signatures td.signature-date{background:#E4F0F0;text-align:center;white-space:nowrap;}
#signatures td.signature-nom{background:#ECF4F4;text-align:center;}
#signatures td.signature-nom small{display:block;}
#signatures td.signature-message{background:#F4F8F8;}
#signatures .formulaire_recherche{margin:1em 0;text-align:right;}
#signatures .formulaire_recherche input.text{width:10em;text-align:left;}
.menu{clear:both;margin-bottom:2em;text-align:left;}
.menu p{margin:0.20em 0;padding:0.20em 0.10em;}
.menu ul{margin:0;padding:0;list-style:none;border-bottom:1px solid #DDD;}
.menu ul li{margin:0.20em 0;padding:0.20em;border-top:1px solid #DDD;}
.menu ul li ul{margin-left:1em;border:0;}
.menu ul li li{padding:0;border:0;}
.pagination{clear:both;text-align:right;font-size:0.90em;color:#666;}
.pagination .on{font-weight:bold;color:#666;}
.rubriques ul{border:0;}
.rubriques ul li{background:#EEE;border:0;}
.formulaire_recherche{margin-bottom:2em;}
.articles ul li{clear:both;padding:0.40em 0.20em;}
.articles ul li h3{margin:0.30em 0;}
.articles .spip_logos{float:right;clear:right;margin:0 0 4px 16px;}
.articles ul li .enclosures{float:right;text-align:right;max-width:60%;margin:0;}
.articles ul li .introduction{margin-top:0.30em;line-height:1.40em;}
a{color:#604A7F;text-decoration:none;}
a:focus,a:hover,a:active{color:#F57900;text-decoration:underline;}

